<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated polybot_modelling_language -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="polybot_modelling_language.presentation.Polybot_modelling_languageModelWizardID"
            name="%_UI_Polybot_modelling_languageModelWizard_label"
            class="polybot_modelling_language.presentation.Polybot_modelling_languageModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Polybot_modelling_languageModelFile.gif">
         <description>%_UI_Polybot_modelling_languageModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated polybot_modelling_language -->
      <editor
            id="polybot_modelling_language.presentation.Polybot_modelling_languageEditorID"
            name="%_UI_Polybot_modelling_languageEditor_label"
            icon="icons/full/obj16/Polybot_modelling_languageModelFile.gif"
            extensions="polybot_modelling_language"
            class="polybot_modelling_language.presentation.Polybot_modelling_languageEditor"
            contributorClass="polybot_modelling_language.presentation.Polybot_modelling_languageActionBarContributor">
      </editor>
   </extension>

</plugin>
